@model Online_Shopping_Cart.Models.Category

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Updating Category</h4>
                <p class="card-description">
                   Update Section
                </p>
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Rank" class="control-label"></label>
                        <input asp-for="Rank" class="form-control" />
                        <span asp-validation-for="Rank" class="text-danger"></span>
                    </div>
                     <div class="form-group">
                         <img src="/@Model.LogoUrl" height="25" width="25 "/>
                    </div>  
                    <div class="form-group">
                        <label asp-for="Logo" class="control-label"></label>
                        <input asp-for="Logo" type="file" class="form-control" />
                        <span asp-validation-for="Logo" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Type" class="control-label"></label>
                        <select asp-for="Type" class="form-control">
                            @*  there is the below method for drop down list of enum but we don't use this because by increaing in the category type we also have to increase the the update the code respectively.
                            <option value="Categories"> For Categories</option>
                            <option value="Brands">For Brands</option>
                            <option value="Blogs">For Blogs</option> *@
                            @foreach (CategoryType item in Enum.GetValues(typeof(CategoryType)))
                            {
                                <option value="@item.ToString()">@item.ToString()</option>
                            }
                        </select>
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Status" /> @Html.DisplayNameFor(model => model.Status)
                        </label>
                    </div>
                    <input type="hidden" asp-for="Id" />
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Right Section</h4>
                <p class="card-description">
                    Setup Section
                </p>
            </div>
        </div>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>


@section js{
    @await Html.PartialAsync("_ValidationScriptsPartial");
 }