@inject AppDbContext _db
@{
	ViewData["Title"] = "Home Page";
	Layout = "~/Views/Shared/_ClientLayout.cshtml";
	var products = _db.Products.Select(m => new
	{
		m.Id,
		m.Name,
		ImageUrl = m.Images.OrderBy(m => m.Rank).Select(m => m.URL).FirstOrDefault(),
		m.Price,
		categoryName = m.Category.Name,
		brandName = m.Brand.Name
	}).ToList();

}
<div id="cartApp" v-cloak>
	<ul>
		<li v-for="c in cartList">{{c.name}} {{c.qty}}</li>
	</ul>
	@foreach (var group in products.GroupBy(m => m.categoryName).OrderByDescending(m => m.AsQueryable().Count()))@*on the basis of category Name we group *@
	{
		<h4 style="margin-left:50px">@group.Key</h4>
		<div class="product_panel panel active">
			<div class="featured_slider slider">


				@foreach (var item in group)
				{
					<div class="featured_slider_item">
						<div class="border_active"></div>
						<div class="product_item d-flex flex-column align-items-center justify-content-center text-center">
							<div class="product_image d-flex flex-column align-items-center justify-content-center " style="margin-top:21px;"><img src="/@item.ImageUrl" alt=""></div>
							<div class="product_content" style="margin-top:21px">
								<div class="product_price">Rs.@item.Price</div>
								<div class="product_name" style="margin-top:-3px"><div><a href="product.html">@item.Name </a></div></div>
								<div class="product_extras">
									<button class="product_cart_button" @@click="addToCart('@item.Id')">Add to Cart</button>
								</div>
							</div>
							<div class="product_fav"><i class="fas fa-heart"></i></div>
							<ul class="product_marks">
								<li class="product_mark product_discount">25%</li>
								<li class="product_mark product_new">new</li>
							</ul>
						</div>
					</div>
				}

			</div>
			<div class="featured_slider_dots_cover"></div>
		</div>
	}
</div>

@section js{
	<script>
		var cartApp = Vue.createApp({
			data() {
				return {
						   cartList:[],
						   isLoggedIn: @Json.Serialize(_db.GetLoggedInUser()!=null)
				}
			},
					methods: {
						//inside the paramaters we are sending the id of the product that is added 
						addToCart: function (id) {
							if (!this.isLoggedIn) {
								window.location.assign('/login');
							}
					$.post('/cart/AddOrUpdateCart', { id: id }, function (res) {
								if (res.status) {
									//adding the result inside the cart list
									cartApp.cartList = res.data;// send the response of the products reference: inside the cartController we have aciton AddOrUpdatecart and inside this aciton we have the result stored in the data return
									

								}
							})
						},
					}
				
			
		}).mount("#cartApp");
	</script>
}